In [2]:
import pandas as pd
import os
import random
import numpy as np

In [44]:
FILE_PATH = os.path.join("dataset", "data.csv")
df = pd.read_csv(FILE_PATH, low_memory=False)
df

,Unnamed: 0,route_id,window,speed_kmh,avg_route_speed_kmh,segment_max_speed_kmh,runtime_sec,segment_id,start_stop_id,end_stop_id,distance_m,stop_lat,stop_lon,next_lat,next_lon,arrival_time,departure_time
0,0,100001,0:00-1:00,35.0,29.4,35.0,60.0,178 - 144,178,144,507.114633,50.936998,6.908550,50.936745,6.916711,19:57:00,19:57:00
1,1,100001,0:00-1:00,35.0,29.4,35.0,60.0,178 - 144,178,144,577.413439,50.936998,6.908550,50.936745,6.916711,19:57:00,19:57:00
2,2,100001,0:00-1:00,35.0,29.4,35.0,60.0,178 - 144,178,144,580.735428,50.936998,6.908550,50.936745,6.916711,19:57:00,19:57:00
3,3,100001,10:00-11:00,35.0,29.0,35.0,60.0,178 - 144,178,144,507.114633,50.936998,6.908550,50.936745,6.916711,19:57:00,19:57:00
4,4,100001,10:00-11:00,35.0,29.0,35.0,60.0,178 - 144,178,144,577.413439,50.936998,6.908550,50.936745,6.916711,19:57:00,19:57:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486092,486092,800598,15:00-16:00,29.0,27.6,29.0,120.0,2199 - 3564,2199,3564,951.408703,50.706130,7.306837,50.706605,7.320540,11:41:00,11:41:00
486093,486093,800598,16:00-17:00,29.0,27.6,29.0,120.0,2199 - 3564,2199,3564,951.408703,50.706130,7.306837,50.706605,7.320540,11:41:00,11:41:00
486094,486094,800598,7:00-8:00,28.0,29.5,29.0,120.0,2199 - 3564,2199,3564,951.408703,50.706130,7.306837,50.706605,7.320540,11:41:00,11:41:00
486095,486095,800598,12:00-13:00,27.0,25.4,27.0,180.0,5953 - 5128,5953,5128,1374.985574,50.738074,7.226283,50.739078,7.243508,12:00:00,12:00:00
486096,486096,800598,13:00-14:00,27.0,26.9,27.0,180.0,5953 - 5128,5953,5128,1374.985574,50.738074,7.226283,50.739078,7.243508,12:00:00,12:00:00

In [45]:
df.columns

Index(['Unnamed: 0', 'route_id', 'window', 'speed_kmh', 'avg_route_speed_kmh',
       'segment_max_speed_kmh', 'runtime_sec', 'segment_id', 'start_stop_id',
       'end_stop_id', 'distance_m', 'stop_lat', 'stop_lon', 'next_lat',
       'next_lon', 'arrival_time', 'departure_time'],
      dtype='object')

In [43]:
# -- Choose features --
col = ['route_id', 'window', 'speed_kmh', 'avg_route_speed_kmh',
       'segment_max_speed_kmh', 'runtime_sec', 'segment_id', 'start_stop_id',
       'end_stop_id', 'distance_m', 'stop_lat', 'stop_lon', 'next_lat',
       'next_lon', 'arrival_time', 'departure_time']
df = df[col]

In [22]:
def fix_time_format(time_str):
    try:
        # Split the time into hours, minutes, and seconds
        hours, minutes, seconds = map(int, time_str.split(':'))
        
        # Check if hours are greater than 23
        if hours > 23:
            # Correct the hours
            hours = 23
        
        # Reconstruct the corrected time string
        corrected_time = f'{hours:02d}:{minutes:02d}:{seconds:02d}'
        return corrected_time
    except:
        # Return the original value if it can't be corrected
        return time_str

# Apply the function to both columns
df['arrival_time'] = df['arrival_time'].apply(fix_time_format).copy()
df['departure_time'] = df['departure_time'].apply(fix_time_format).copy()

In [23]:
df

,route_id,window,speed_kmh,avg_route_speed_kmh,segment_max_speed_kmh,runtime_sec,segment_id,start_stop_id,end_stop_id,distance_m,stop_lat,stop_lon,next_lat,next_lon,arrival_time,departure_time
0,100001,0:00-1:00,35.0,29.4,35.0,60.0,178 - 144,178,144,507.114633,50.936998,6.908550,50.936745,6.916711,19:57:00,19:57:00
1,100001,0:00-1:00,35.0,29.4,35.0,60.0,178 - 144,178,144,577.413439,50.936998,6.908550,50.936745,6.916711,19:57:00,19:57:00
2,100001,0:00-1:00,35.0,29.4,35.0,60.0,178 - 144,178,144,580.735428,50.936998,6.908550,50.936745,6.916711,19:57:00,19:57:00
3,100001,10:00-11:00,35.0,29.0,35.0,60.0,178 - 144,178,144,507.114633,50.936998,6.908550,50.936745,6.916711,19:57:00,19:57:00
4,100001,10:00-11:00,35.0,29.0,35.0,60.0,178 - 144,178,144,577.413439,50.936998,6.908550,50.936745,6.916711,19:57:00,19:57:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486092,800598,15:00-16:00,29.0,27.6,29.0,120.0,2199 - 3564,2199,3564,951.408703,50.706130,7.306837,50.706605,7.320540,11:41:00,11:41:00
486093,800598,16:00-17:00,29.0,27.6,29.0,120.0,2199 - 3564,2199,3564,951.408703,50.706130,7.306837,50.706605,7.320540,11:41:00,11:41:00
486094,800598,7:00-8:00,28.0,29.5,29.0,120.0,2199 - 3564,2199,3564,951.408703,50.706130,7.306837,50.706605,7.320540,11:41:00,11:41:00
486095,800598,12:00-13:00,27.0,25.4,27.0,180.0,5953 - 5128,5953,5128,1374.985574,50.738074,7.226283,50.739078,7.243508,12:00:00,12:00:00
486096,800598,13:00-14:00,27.0,26.9,27.0,180.0,5953 - 5128,5953,5128,1374.985574,50.738074,7.226283,50.739078,7.243508,12:00:00,12:00:00

In [28]:
# -- Convert 'arrival-time' object to datetime64[ns] --
df['arrival_time'] = pd.to_datetime(df['arrival_time']).copy()
df['departure_time'] = pd.to_datetime(df['departure_time']).copy()

In [30]:
# -- Create 'decisive_speed' attributes to determine the 'congestion_level' --
df['decisive_speed'] = df.apply(lambda row, weight=random.uniform(0.8, 0.9): (
        row['speed_kmh'] * weight + row['segment_max_speed_kmh'] * (1 - weight)), axis=1)
conditions = [
    (df['decisive_speed'] > 40),
    (df['decisive_speed'] > 30),
    (df['decisive_speed'] > 20),
    (df['decisive_speed'] > 15)
]
congestion_levels = [0, 1, 2, 3]
df['congestion_level'] = np.select(conditions, congestion_levels, default=4)
df = df.drop(['decisive_speed'], axis=1)
df = df.drop_duplicates(
    subset=['start_stop_id', 'arrival_time', 'stop_lat', 'stop_lon', 'route_id'
            , 'speed_kmh', 'segment_max_speed_kmh', 'runtime_sec', 'end_stop_id'])

In [32]:
# -- Create 'arrival_hour' and 'arrival_minute' --
df = df[['route_id', 'window', 'speed_kmh', 'avg_route_speed_kmh',
       'segment_max_speed_kmh', 'runtime_sec', 'segment_id', 'start_stop_id',
       'end_stop_id', 'distance_m', 'stop_lat', 'stop_lon', 'next_lat',
       'next_lon', 'arrival_time', 'departure_time', 'congestion_level']]

In [38]:
df['arrival_hour'] = df['arrival_time'].dt.hour.copy()
df['arrival_minute'] = df['arrival_time'].dt.minute.copy()

df = df[['route_id', 'window', 'speed_kmh', 'avg_route_speed_kmh',
       'segment_max_speed_kmh', 'runtime_sec', 'segment_id', 'start_stop_id',
       'end_stop_id', 'distance_m', 'stop_lat', 'stop_lon', 'next_lat',
       'next_lon', 'arrival_time', 'arrival_hour', 'arrival_minute', 'congestion_level']]

In [39]:
df.to_csv('dataset\\clean_data.csv', index=False)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50259 entries, 0 to 50258
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   route_id               50259 non-null  int64
 1   window                 50259 non-null  object
 2   speed_kmh              50259 non-null  float64
 3   avg_route_speed_kmh    50259 non-null  float64
 4   segment_max_speed_kmh  50259 non-null  float64
 5   runtime_sec            50259 non-null  float64
 6   segment_id             50259 non-null  object
 7   start_stop_id          50259 non-null  int64
 8   end_stop_id            50259 non-null  int64
 9   distance_m             50259 non-null  float64
 10  stop_lat               50259 non-null  float64
 11  stop_lon               50259 non-null  float64
 12  next_lat               50259 non-null  float64
 13  next_lon               50259 non-null  float64
 14  arrival_time           50259 non-null  datetime64[ns]
 15  arrival_hour           50259 non-null  int64
 16  arrival_minute         50259 non-null  int64
 17  congestion_level       50259 non-null  int32
dtypes: datetime64[ns](1), float64(9), int32(1), int64(5), object(2)
memory usage: 6.7+ MB
None

In [40]:
df.head()

,route_id,window,speed_kmh,avg_route_speed_kmh,segment_max_speed_kmh,runtime_sec,segment_id,start_stop_id,end_stop_id,distance_m,stop_lat,stop_lon,next_lat,next_lon,arrival_time,arrival_hour,arrival_minute,congestion_level
0,100001,0:00-1:00,17.4,28.1,18.0,180.0,1 - 2,1,2,888.76637,50.935705,6.959995,50.93577,6.947677,2023-10-26 09:30:00,9,30,3
1,100001,10:00-11:00,17.5,27.9,18.0,180.0,1 - 2,1,2,888.76637,50.935705,6.959995,50.93577,6.947677,2023-10-26 09:33:00,9,33,3
2,100001,15:00-16:00,17.6,28.8,18.0,180.0,1 - 2,1,2,888.76637,50.935705,6.959995,50.93577,6.947677,2023-10-26 09:36:00,9,36,3
3,100001,20:00-21:00,17.2,29.9,18.0,180.0,1 - 2,1,2,888.76637,50.935705,6.959995,50.93577,6.947677,2023-10-26 09:39:00,9,39,3
4,100001,23:00-24:00,16.7,28.8,18.0,180.0,1 - 2,1,2,888.76637,50.935705,6.959995,50.93577,6.947677,2023-10-26 09:42:00,9,42,3